

  @import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@300&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Shantell Sans', cursive;
   
}

h1 {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Tilt Prism', cursive;
}

.container {
    margin: auto;
    border: 5px double rgb(155, 200, 225);
    width: 550px;
    height: 550px;
}

@media (max-width: 850px) {
    .container {
        width: 80%;
    }
}